
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

/* BACKGROUND */
body{
    background:rgb(255, 211, 218); /* ganti sesuai nama foto background */
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

/* HEADER */
.page{
    width:100%;
    background:#d63384;
    color:white;
    text-align:center;
    padding:20px;
    font-size:22px;
    font-weight:bold;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.page h2{
    color:white;
}

/* LAYOUT */
section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:70px 150px;
}

/* CARD */
.Tentang{
    width:470px;
    background:rgba(255,255,255,0.95);
    padding:35px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
    transition:.4s;
}

.Tentang:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(231,84,128,.35);
}

.Tentang h3{
    color:#d63384;
    font-size:35px;
    margin-bottom:20px;
}

.Tentang p{
    text-align:justify;
    line-height:1.8;
    font-size:17px;
    color:#444;
}

/* TOMBOL */
button{
    margin-top:25px;
    padding:12px 28px;
    border:none;
    border-radius:10px;
    background:#E75480;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#d63384;
    transform:scale(1.05);
}

/* FOTO */
img{
    right:150px;
    top:180px;
    width:230px;
    border-radius:20px;
    border:6px solid white;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
    transition:.4s;
}

img:hover{
    transform:scale(1.05);
    box-shadow:0 15px 40px rgba(231,84,128,.45);
}
/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width:768px){
    .page{
        padding:18px;
        font-size:20px;
    }
    section{
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
        gap:35px;
        padding:40px 20px;
    }
    .Tentang{
        width:100%;
        max-width:500px;
        text-align:center;
    }
    .Tentang h3{
        font-size:30px;
    }
    .Tentang p{
        text-align:center;
        font-size:16px;
    }
    img{
        position:static;
        width:180px;
        border-radius:20px;
    }
}