html,body{
   background:
        radial-gradient(circle at 20% 20%, rgba(109, 40, 217, 0.35), transparent 30%),
        radial-gradient(circle at 80% 30%, rgba(59, 130, 246, 0.25), transparent 30%),
        radial-gradient(circle at 50% 85%, rgba(147, 51, 234, 0.20), transparent 35%),
        linear-gradient(
            180deg,
            #020617 0%,
            #050816 30%,
            #0B1026 60%,
            #000000 100%
        );
   background-attachment:fixed;
   padding: 0;
   margin: 0;
   overflow:visible;
   box-sizing: border-box;
   width: 100%;
   min-height: 100vh;
}
/* ===== BACKGROUND ===== */
/* ===== BINTANG ===== */

body::before{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;

    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white .8px, transparent .8px);

    background-size:
        120px 120px,
        180px 180px;

    background-position:
        0 0,
        60px 80px;

    opacity:.12;
}

/* ===== GLOW ===== */

body::after{
    content:"";
    position:fixed;
    width:700px;
    height:700px;

    left:-180px;
    top:-180px;

    background:#6D28D9;
    filter:blur(180px);
    opacity:.18;
    border-radius:50%;
    pointer-events:none;
}
.dashboard{
    width:50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 40px;
    padding: 12px;
    margin-top:10px;
    background: rgba(18,18,30,.18);
    backdrop-filter: blur(22px);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 40px;
}
.dashboard a{
    color:white;
    text-decoration:none;
    font-size:14px;
    transition:.3s;

}
.dashboard a.active{
    color:#9b5cff;
}
.indicator{
    position:absolute;
    bottom:8px;
    height:4px;
    width:0;
    background:#9b5cff;
    border-radius:999px;
    transition:
        left .35s cubic-bezier(.22,1,.36,1),
        width .35s cubic-bezier(.22,1,.36,1);
    box-shadow:0 0 12px #9b5cff;
}
.dashboard button{
    background: rgba(20, 20, 35, 0.30);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    box-shadow:0 8 32px rgba(0,0,0,.25);
    padding:15px;
    cursor:pointer;
    transition:.5s;
}
.dashboard button:active{
    transform:translateY(-5px) scale(0.5s);
    box-shadow: none;
}
.dashboard i,h3{
    font-size:25px;
}
.cv{
    width:800px;
    padding:40px;
    margin:40px auto;
}
/**/
.profil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:50px;
}
.nama{
    width:50%;
    display:flex;
    padding:20px;
    flex-direction:column;
    background: rgba(20, 20, 35, 0.30);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    box-shadow:0 8 32px rgba(0,0,0,.25);
    gap:10px;
}
span{
    color:#752375;
    text-shadow: 0 0 15px rgba(255,255,255,.35); 
}
.nama i{
    color: black;
    font-size: 13px;
    font-variant: small-caps;
}
.nama h3{
    color: #060f38;
    text-shadow: 0 0 15px rgba(255,255,255,.35);
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.link button{
    width:130px;
    height:40px;
    border:none;
    border-radius: 12px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
    cursor:pointer;
    transition:0.5s;
}
button:hover{
    transform:translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,.2);
}
button:active{
    transform:translateY(0) scale(1);
    box-shadow: none;
}
.foto{
    position: relative;
    display: inline-block;
}

.foto::before{
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: radial-gradient(circle,
        rgba(0, 180, 255, .35) 0%,
        rgba(120, 81, 255, .25) 45%,
        rgba(255, 0, 170, .15) 80%,
        transparent 80%);

    filter: blur(60px);
    z-index: 0;
}
.foto img{
    width: 200px;
    border-radius: 20px;
    border: none;
    position: relative;
    z-index: 1;
}

/**/
.about{
    display: flex;
    flex-direction: column;
    margin-top:10%;
}
.tentang{
    width: 100%;
    display: flex;
    gap:20px;
    justify-content: space-around;
}
.tentang-saya,.informasi,.skill{
    width:60%;
    padding: 15px;
   background: rgba(20, 20, 35, 0.30);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    box-shadow:0 8 32px rgba(0,0,0,.25);
}
/**/
.pendidikan{
    display: flex;
    align-items: center;
    justify-content:left;
    gap:50px;
}
.kuliah{
    display: flex;
    align-items: center;
    width:100%;
    padding:10px;
    background: rgba(20, 20, 35, 0.30);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    box-shadow:0 8 32px rgba(0,0,0,.25);
    gap:25px;
}
/**/
.pengalaman{
    display: flex;
    justify-content:space-between;
    gap:50px;   
}
.kerja{
    width: 50%;
    display: flex;
    align-items: center;
    padding:20px;
    background: rgba(20, 20, 35, 0.30);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    box-shadow:0 8 32px rgba(0,0,0,.25);
    gap:25px;
}
/**/
h2{
    color:#752375;
    text-shadow: 0 0 15px rgba(255,255,255,.35);
    font-size: 35px;
}
h4{
    font-size: 20px;
   color:#8b5cf6;
    text-shadow: 0 0 15px rgba(255,255,255,.35); 
}
h5{
    color:#8b5cf6;
    text-shadow: 0 0 15px rgba(255,255,255,.35);
}
p,
i,li{
    color:whitesmoke;
    text-shadow: 0 0 25px rgba(255,255,255,.35);
}
/***responsive mobile***/
/* ================= TABLET ================= */
@media (max-width: 768px){

    html,
    body{
        width:100%;
        overflow-x:hidden;
    }

    .dashboard{
        width:90%;
        gap:15px;
        padding:10px;
        flex-wrap:wrap;
    }

    .dashboard a{
        font-size:13px;
    }

    .cv{
        width:100%;
        padding:20px;
        box-sizing:border-box;
    }

    .profil{
        flex-direction:column-reverse;
        gap:30px;
        text-align:center;
    }

    .nama{
        width:100%;
        box-sizing:border-box;
    }

    .tentang{
        flex-direction:column;
        gap:20px;
    }

    .tentang-saya,
    .informasi,
    .skill{
        width:100%;
        box-sizing:border-box;
    }

    .pendidikan{
        flex-direction:column;
        gap:20px;
    }
    .pengalaman{
        flex-direction: column;
         box-sizing:border-box;
    }
    .kuliah{
        width:100%;
        box-sizing:border-box;
    }
    .kerja{
        width:auto;
    }

    .foto img{
        width:180px;
    }
}

/* ================= HP ================= */
@media (max-width:480px){
    .dashboard{
        width:95%;
        gap:8px;
        padding:8px;
    }
    .dashboard a{
        font-size:11px;
    }
    h2{
        font-size:28px;
    }
    h3{
        font-size:20px;
    }
    h4{
        font-size:18px;
    }
    p,
    li{
        font-size:14px;
        line-height:1.6;
    }
    .link{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    .link button{
        width:100%;
    }
    .foto img{
        width:150px;
    }
    .foto::before{
        width:220px;
        height:220px;
    }
    .kuliah,
    .kerja{
        flex-direction:column;
        text-align:center;
        gap:15px;
    }
}